<div class="heriotwatt-primo-search">
	<form name="searchForm" role="search" method="get" enctype="application/x-www-form-urlencoded; charset=utf-8" id="simple" target="_self" >
		<div class="input-group" style="margin:5px;">
		    <input ng-model="tile.query" placeholder="{{'app.heriotwatt-primosearch.tile.PLACEHOLDER'|translate}}" class="form-control" type="text" id="primoQueryTemp" value="" name="queryTemp"  />
		    <div class="input-group-btn"><button  id="go" value="Search" class="btn btn-default" title="Search" alt="Search" type="submit" ng-click="tile.searchPrimo()"><i class="fa fa-search"></i></button></div>
	    </div>
	</form>
</div>
