.cumbria-preference-mgr{
    background-color: #F4FBCD;
    color: #000;
}
.flex-header { 
    background-color: #F1FBBD;
    color: #000;
}

.b-b { border-bottom-color: #000; }

.cumbria-preference-mgr .whitelist-col{
    width:50%;
    float:left;
}

/* .cumbria-preference-mgr .active{
    background-color: #4B2E52
} */

.cumbria-preference-mgr .nav-tabs {
    padding: 0 15px;
}

.cumbria-preference-mgr .nav-tabs-mobile {
    height: 42px;
}

h3 { font-weight: bold; }

ul#userGroupList li {
    list-style-type: none;
}